@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,ul,ol,fieldset,table,div,p,form,dt,dl,dd,img,legend{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,figure{font-weight:normal;}
img{display: block;}
img,fieldset{border:0;}
i,em,b,strong{font-style: normal;font-weight: normal;}
a{text-decoration: none;}
ul,ol,li{list-style:none;}
.clear:after{content:""; clear:both; visibility:hidden; overflow:hidden; height:0; display:block; }

$bigboxwidth:100%;
$boxwidth:1200px;
/* header */
.container-fluid{
	margin:0;
	padding:0;
}
.bigbox{
	width:$bigboxwidth;
	background:#f9f9f9;
	.box{
		width:$boxwidth;
		margin:0 auto;
		background:#f9f9f9;
		.left{
			float:left;
			li:hover{
				background:#fff;
				margin-top: 5px;
				height:21px;
				padding:0 5px 0 10px;
				border:1px solid #6e6e6e;
				border-bottom: none;
				position:relative;
				z-index: 2;
				a{
					text-decoration:none;
				}
				i{
					display:none;
				}
				em{
					display:block;
					width:15px;
					height:25px;
					background:url(../images/head_sprite.png) no-repeat -71px -320px; 
					float:right;
				}
			}

			li a{
				line-height: 35px;
				color:#000;
				font-size:12px;
			}
			li i{
				display:block;
				width:15px;
				height:25px;
				background:url(../images/head_sprite.png) no-repeat -71px -301px; 
				float:right;
				
			}
		}
		#city{
			width:300px;
			height:195px;
			position: absolute;
			top:25px;
			left:75px;
			padding:10px;
			border:1px solid #6e6e6e;
			background:#fff;
			li{
				width:55px;
				height:25px;
				float:left;
			}
			li a{
				color:#000;
				font-size:12px;
				padding:5px 5px 0 10px;
				float:left;
			}
		}
		.right{
			float:right;
			.mydangdang{
				width:85px;
			}
			li{
				float:left;
				color:#000;
				font-size:12px;
				border:1px solid #f9f9f9;
				&:first-child a:first-child{
					color:#ff2832;
					text-decoration:none;
				}
				&:nth-child(3) a em{
					float:right;
					line-height:35px;
				}
				&:nth-child(3) a i{
					display:block;
					width:15px;
					height:25px;
					background:url(../images/head_sprite.png) no-repeat -71px -301px; 
					float:right;
				}
				&:nth-child(3) a b{
					display:none;
				}
				&:nth-child(3):hover{
					background:#fff;
					border:1px solid #eee;
					border-bottom: none;
					position:relative;
					z-index: 5;

					i{
						display:none;
					}
					b{
						display:block;
						width:15px;
						height:25px;
						background:url(../images/head_sprite.png) no-repeat -71px -320px; 
						float:right;
					}
				}
				&:nth-child(6){
					width:83px;
				}
				&:nth-child(6) em{
					float:right;
					line-height:35px;
				}
				&:nth-child(6) a i{
					display:block;
					width:15px;
					height:25px;
					background:url(../images/head_sprite.png) no-repeat -71px -301px; 
					float:right;
				}
				&:nth-child(6) a b{
					display:none;
				}
				&:nth-child(6):hover{
					background:#fff;
					border:1px solid #eee;
					border-bottom: none;
					position:relative;
					z-index: 2;
					i{
						display:none;
					}
					b{
					display:block;
					width:15px;
					height:25px;
					background:url(../images/head_sprite.png) no-repeat -71px -320px; 
					float:right;
					}
				}
				&:nth-child(7){
					width:83px;
				}
				&:nth-child(7) a b{
					display:none;
				}
				&:nth-child(7) a i{
					display:block;
					width:15px;
					height:25px;
					background:url(../images/head_sprite.png) no-repeat -71px -301px; 
					float:right;

				}
				&:nth-child(7):hover{
					background:#fff;
					border:1px solid #eee;
					border-bottom: none;
					position:relative;
					z-index: 2;
					i{
						display:none;
					}
					b{
					display:block;
					width:15px;
					height:25px;
					background:url(../images/head_sprite.png) no-repeat -71px -320px; 
					float:right;
					}
				}
				a{
					line-height: 35px;
					color:#000;
					font-size:12px;
					padding: 0 5px;
				}
				a:hover{
					color:#ff2832;
					text-decoration:none;
				}
			}
			.hide{
				display:none;
			}
			.show{
				display:block;
			}
			.my_down_list{
				position:absolute;
				background:#fff;
				border:1px solid #eee;
				border-top: none;
				left:-1px;
				li{
					border:0;
					a{
					border:0;
					line-height:20px;
					padding-left:8px;
					display:block;
					width:81px;					
					}
					a:first-child{
						color:#646464;
					}
					a:hover{
						border:0;
						background: #f6f6f6;
					}
				}
				li:hover{
					border:0;
					background: #f6f6f6;
				}
			}
		}
	}
}
/* logo */
$logocolor:#d11e27;
.LOGObigbox{
	width:$bigboxwidth;
	.LOGObox{
		width:$boxwidth;
		margin: 0 auto;
		background:#fff;
		padding-bottom: 25px;
		img{
			float:left;
		}
		.searchBox{
			float:left;
			position:relative;
			input{
			width:515px;
			height:40px;
			margin-top:25px;
			padding-left:5px;
			font-size:12px;
			border:2px solid $logocolor;
			float:left;
			}
			.downList{
				position:absolute;
				right:52px;
				top:28px;
				width:100px;
				height:35px;
				border:none;
				background:#f6f6f6;
				a{
					display:block;
					color:#969696;
					font-size:16px;
					margin:8px 10px;
				}
				a:hover{
					text-decoration:none;
				}
				i{
					display:block;
					width:15px;
					height:25px;
					background:url(../images/head_sprite.png) no-repeat -11px -84px; 
					float:right;
				}
				.downAll{
					height:200px;
					overflow:auto;
					border:1px solid #eee;
					display:none;
					background:#fff;
					position:relative;
					z-index:60;
					a{
					padding:5px 5px 5px 10px;
					margin:0;
					font-size:12px;
					}
					a:hover{
						color:#fff;
						background:#969696;
					}
				}
				
			}
			.downList span{
				display:block;
				width:100px;
			}
			button{
				width:50px;
				height:40px;
				background:$logocolor url(../images/home_sprite_1511.png) no-repeat 10px -245px;
				border:none;
				margin:25px 0 0 0;
				float:left;
			}
			.left li{
				float:left;
				a{
					color:#969696;
					font-size:12px;
					padding:0 8px;
				}

			}
			.left li:first-child a{
				padding:0;
			}
			.right{
				float:right;
				li a{
					color:#969696;
					font-size:12px;
					padding:0 8px;
				}
			}
		}
		
		.shoppingcar{
			float:right;
			margin-top: 25px ;
			border:1px solid #eee;
			a:first-child{
				background:#ff2832;
				display:block;
				width:100px;
				height:35px;
				line-height:35px;
				float:left;
				i{
					padding:0 5px;
					color:#fff;
				}
				b{
					color:#fff;
				}
				span{
				display:block;
				width:30px;
				height:30px;
				background:url(../images/icon_cart.png) no-repeat 5px 0px; 
				float:left;
				}
			}
			a:first-child:hover{
				background:#fff;
				text-decoration:none;
				i,b{
					color:#000;
				}
				span{
					display:none;
				}
				strong{
					display:block;
					width:30px;
					height:30px;
					background:url(../images/icon_cart.png) no-repeat 5px -38px; 
					float:left;
				}
			}
			a:last-child{
				background:#f6f6f6;
				display:block;
				width:100px;
				height:35px;
				line-height:35px;
				text-align: center;
				color:#000;
				float:left;
			}
			a:last-child:hover{
				color:#ff2832;
				text-decoration:none;
			}
		}
	}
}
/* nav1 */
.nav1bigbox{
	width:$bigboxwidth;
	height:43px;
	border-bottom:3px solid #ff2832;
	.nav1box{
		width:$boxwidth;
		margin:0 auto;
		ul li{
			float:left;
			a{
				padding:0 15px;
				color:#000;
				line-height:42px;
				font-family:"Microsoft Yahei";
				font-weight:700;
			}
			a:hover{
				text-decoration:none;
				color:#ff2832;
			}
		}
		li:nth-child(2) a{
			padding-left:30px;
		}
		li:first-child a{
			line-height:42px;
			width:200px;
			display:block;
			background:#ff2832;
			color:#fff;
			padding:0 50px 0 20px;
			.iconfont{
				padding-left: 30px;
				color:#fff;
				font-weight:900;
				font-size:16px;
			}
		}
		li:first-child a:hover{
			color:#fff;
		}
	}
}
/* nav2 */
.nav2bigbox{
	width:$bigboxwidth;
	background:#f5f5f5;
	.nav2box{
		width:$boxwidth;
		margin:0 auto;
		ul li{
			float:left;
			a{
				padding:0 14px;
				font-size:12px;
				line-height:32px;
				color:#646464;
			}
			i{
				display:block;
				height:32px;
				width:1px;
				float:right;
				background:url(../images/sidemenu_bg1.png) no-repeat 0 12px;
			}
			a:hover{
				color:#ff2832;
			}
		}
	}
}
/* banner */
.bannerbigbox{
	width:$bigboxwidth;
	background:#fff;
	.bannerbox{
		width:$boxwidth;
		margin:0 auto;
		position:relative;
		height:508px;
		.left{
			width:200px;
			background:#fafafa;
			float:left;
			height:488px;
			position:relative;
			z-index:2;
			ul{
				
				li:first-child{
					padding-top: 9px;
				}
				li a{
					color:#323232;
					display:block;
					padding:0 15px;
					line-height:26px;
					font-size:14px;
					border:2px solid #fafafa;
					font-family:"Microsoft Yahei";
				}
				li a:hover{
					text-decoration:none;
					border:2px solid #ff2832;
					color:#ff2832;
					font-size:16px;
					background:#fff;
					border-right: 0;
					width:202px;
				}
			}
		}
		.left_list{
			position:absolute;
			left:200px;
			display:none;
			.left_list_div{
				position:absolute;				
				background:#fff;
				padding:10px;
				border:2px solid #ff2832;
				.l_l_d_top {
					li{
					float:left;
						a{	
							color:#fff;
							background:#a2a2a2;
							padding:2px 6px 2px 6px;;
							b{
								width:26px;
								height:20px;
								display:block;
								float:right;
								background:url(../images/home_sprite_1511.png) no-repeat -72px -146px;
							}
						}
						a:hover{
							text-decoration:none;
							background:#ff2832;
							b{
								display:none;
							}
							strong{
								width:26px;
								height:20px;
								display:block;
								float:right;
								background:url(../images/home_sprite_1511.png) no-repeat -72px -165px;
							}
						}
					}
				}
				.left_list_div_div{
					float:left;
					width:100%;

					h4{
						float:left;
						color:#ff2832;
						font-weight:bold;
						font-size:14px;
						line-height:35px;
						padding-right: 25px;
						border-bottom:1px solid #fff;
					}
					div{
						border-bottom:1px dashed #eee;
						a{
						color:#323232;
						padding:0 5px;
						line-height:35px;
						font-size:12px;
							i{
								font-family:"宋体";
								padding-left:8px;
								font-size:12px;
							}
						}
					}
				}
				.centerContent{
					ul{
						float:left;
						width:979px;
						line-height:35px;
						li{
							float:left;
							width:979px;
							h4{
								float:left;
								color:#ff2832;
								font-weight:bold;
								font-size:14px;
								line-height:35px;
								padding-right: 25px;
								border-bottom:1px solid #fff;
							}
							div{
								border-bottom:1px dashed #eee;
								a{
								color:#323232;
								padding:0 5px;
								font-size:12px;
								}
								a:hover{
									color:#ff2832;
								}
								i{
									color:#eee;
								}
							}
							
						}
					}
				}
			}
		}
		.center{
			float:left;
			background:#000;
			position:relative;
			a:first-child img{
				width: 100%;
			}
			a:nth-child(2),a:nth-child(3),a:nth-child(4),a:nth-child(5),a:nth-child(6) img{
				float:left;
				opacity:0.9;
				width:199px;
				border:1px solid #eee;
			}
			a:nth-child(2):hover{
				opacity:1;
			}
			a:nth-child(3):hover,a:nth-child(4):hover,a:nth-child(5):hover{
				opacity:1;
			}
			ul{
				position:absolute;
				left:280px;
				bottom: 200px;
				li{
					width:20px;
					height:20px;
					background:#666;
					text-align:center;
					line-height:20px;
					border-radius: 50%;
					font-size:12px;
					float:left;
					margin:0 5px;
					color:#fff;
				}
				li:hover{
					width:20px;
					height:20px;
					background:#ff2832;
					text-align:center;
					line-height:20px;
					border-radius: 50%;
					font-size:12px;
					float:left;
					margin:0 5px;
					color:#fff;
				}
			}
		}
		.right{
			float:right;
			img{
				border:1px solid #f0f0f0;
				cursor: pointer;
			}
			nav a{
				line-height:35px;
				display:block;
				float:left;
				padding: 0 22px;
				font-size:14px;
				color:#323232;
				background:#f0f0f0;
				border:1px solid #e6e6e6;
			}
			& a:hover{
				background-color: #fff;
				text-decoration:none;
				border:1px solid #fff;

			}
			ul{
				padding:8px 5px 15px;
				border:1px solid #eee;
				li a{
					line-height:22px;
					font-size:12px;
					color:#323232;
				}
				a:hover{
					line-height:22px;
					font-size:12px;
					color:#ff2832;
				}
				& .iconfont{
					line-height:22px;
					font-size:12px;
					color:#323232;
				}
			}
		}
	}
}
/* seckill */
.sckillbigbox{
	width:100%;
	background:#fff;
	.sckillbox{
		width:$boxwidth;
		margin:0 auto;
		margin-top:20px;
		background:#fff;
			.left{
				float:left;
				.timer{
					border-bottom:2px solid #3c3c3c;
					width:996px;
					a img{
						margin-right: 30px;
					}
					img{
						float:left;
					}
					aside{
						float:left;
						width:130px;
						height:39px;
						background:url(../images/home_miaosha.png) no-repeat;
						span:first-child{
							font-size:20px;
							margin-left:32px;
							display:inline-block;
							margin-top:3px; 
						}
						span:nth-child(2){
							font-size:20px;
							margin-left:11px;
							display:inline-block;
							margin-top:3px; 
						}
						span:last-child{
							font-size:20px;
							margin-left:11px;
							display:inline-block;
							margin-top:3px; 
						}
					}
					ul{
						float:left;
						li{
							float:left;
							a{
								font-size:20px;
								color:#323232;
								margin-right:30px;
								display:block;
								float:left;
								line-height:40px;
							}
							a:hover{
								border-bottom:3px solid #ff2832;
								text-decoration:none;
								display:block;
								margin-bottom:-3px;
							}
							a:first-child{
								margin-left:40px;
							}
						}
					}
				}
				.photo{
					width:995px;
					dl{
						border:1px solid #eee;
						width:199px;
						text-align:center;
						float:left;
						padding-bottom:10px;
						dt img{
							margin:0 auto;
							padding: 10px;
							cursor: pointer;
						}
						dd{
							
							div{
								height:8px;
								width:130px;
								background:#ffb7b7;
								border-radius:5px;
								position:relative;
								top:-30px;
								z-index:10;
								margin:0 auto;
								span:first-child{
									background:#fc2c3a;
									height:8px;
									width:0%;
									display:block;
									border-radius:5px;
									position:relative;
									z-index:20;
								}
								span:nth-child(2){
									background:#ffb7b7;
									height:20px;
									width:76px;
									display:block;
									border-radius:10px;
									position:relative;
									left:27px;
									top:-15px;
								}
								span:last-child{
									display:block;
									
									color:#fff;
									font-size: 12px;
									line-height:20px;
									text-align:center;
									position:relative;
									left:0;
									top:-35px;
									z-index:30;
								}
							}
							a{
								line-height:20px;
								font-size:12px;
								color:#323232;
								display:block;
							}
							a:hover{
								color:#ff2832;
							}
							span{
								font-size:14px;
								color:#ff2832;
								b{
									font-size:12px;
								}
							}
							i{
								font-size:12px;
								color:#666;
								text-decoration:line-through;
								padding-left:5px;
							}
						}
					}
				}
			}
		.right{
			float:right;
			ul{
				border-bottom:2px solid #ff2832;
				width:204px;
				li{
					float:left;
					a{
						font-size:20px;
						color:#ff2832;
						margin-right:30px;
						display:block;
						float:left;
						line-height:40px;
						padding-left:20px;
					}
				}				
			}
			aside img{
					border: 1px solid #eee;
					border-left: none;
					width:100%;
					cursor: pointer;
				}
		}
	}
}
/* 尾品汇 */
.weibigbox{
	width:100%;
	.weibox{
		width:$boxwidth;
		background:#fff;
		margin:0 auto;
			.top{
				img{
				float:left;
				margin-top:30px;
				cursor: pointer;
			}
			a{
				float:right;
				color:#ff2832;
				padding-top:45px;
			}
		}
		.bottom{
			.left{
				float:left;
				img{
				border:1px solid #e6e6e6;
				cursor: pointer;
				}
				aside{
					border:1px solid #e6e6e6;
					width:200px;
					ul{	
						li{
							float:left;
							background-color:#f9f9f9;
							width:50%;
							text-align:center;
							height:118px;
							position:relative;
							border:1px solid #eee;
							img{
								position:absolute;
								border:0;
								margin:auto;
								top:0;
								left:0;
								bottom:0;
								right:0;
								cursor: pointer;
							}
						}
					}
				}
			}
			.right{
				float:left;
				width:1000px;
				ul li{
					border:1px solid #eee;
					width:20%;
					float: left;
					img{
						width:100%;
						cursor: pointer;
					}
				}
				li:hover{
					border:2px solid #ff5797;
				}
			}
		}
	}
}
/* book */
