@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,ul,ol,fieldset,table,div,p,form,dt,dl,dd,img,legend{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,figure{font-weight:normal;}
img{display: block;}
img,fieldset{border:0;}
i,em,b,strong{font-style: normal;font-weight: normal;}
a{text-decoration: none;}
ul,ol,li{list-style:none;}
.clear:after{content:""; clear:both; visibility:hidden; overflow:hidden; height:0; display:block; }

$bigboxwidth:100%;
$boxwidth:1200px;
/* header */
.container-fluid{
	margin:0;
	padding:0;
}
.bigbox{
	width:$bigboxwidth;
	background:#f9f9f9;
	.box{
		width:$boxwidth;
		margin:0 auto;
		background:#f9f9f9;
		.left{
			float:left;
			.onovercity{
				
				.ocity_a{
					text-decoration:none;
					margin-top: 5px;
					height:21px;
					padding:0 0 0 4px;
					border-bottom: none;
					display:block;
					position:relative;
					width:95px;
					z-index: 2;
					line-height: 35px;
					color:#000;
					font-size:12px;

					i{
						display:block;
						width:15px;
						height:25px;
						background:url(../images/head_sprite.png) no-repeat -71px -301px; 
						float:right;
						
					}
				}
				.ocity_a:hover,.ocity_a.hover_a{
					background:#fff;
					height:22px;
					width:95px;
					display:block;
					padding-left:10px;
					border:1px solid #6e6e6e;
					border-bottom: none;
					position:relative;
					z-index: 2;
					i{
					display:none;
				}
				em{
					display:block;
					width:15px;
					height:25px;
					background:url(../images/head_sprite.png) no-repeat -71px -320px; 
					float:right;
				}
			}

			
				}
				
		}
		#city{
			width:300px;
			height:195px;
			position: absolute;
			top:26px;
			left:75px;
			padding:10px;
			border:1px solid #6e6e6e;
			background:#fff;
			li{
				width:55px;
				height:25px;
				float:left;
			}
			li a{
				color:#000;
				font-size:12px;
				padding:5px 5px 0 10px;
				float:left;
			}
		}
		.right{
			float:right;
			.mydangdang{
				width:85px;
			}
			li{
				float:left;
				color:#000;
				font-size:12px;
				border:1px solid #f9f9f9;
				&:first-child a:first-child{
					color:#ff2832;
					text-decoration:none;
				}
				&:nth-child(3) a em{
					float:right;
					line-height:35px;
				}
				&:nth-child(3) a i{
					display:block;
					width:15px;
					height:25px;
					background:url(../images/head_sprite.png) no-repeat -71px -301px; 
					float:right;
				}
				&:nth-child(3) a b{
					display:none;
				}
				&:nth-child(3):hover{
					background:#fff;
					border:1px solid #eee;
					border-bottom: none;
					position:relative;
					z-index: 5;

					i{
						display:none;
					}
					b{
						display:block;
						width:15px;
						height:25px;
						background:url(../images/head_sprite.png) no-repeat -71px -320px; 
						float:right;
					}
				}
				&:nth-child(6){
					width:83px;
				}
				&:nth-child(6) em{
					float:right;
					line-height:35px;
				}
				&:nth-child(6) a i{
					display:block;
					width:15px;
					height:25px;
					background:url(../images/head_sprite.png) no-repeat -71px -301px; 
					float:right;
				}
				&:nth-child(6) a b{
					display:none;
				}
				&:nth-child(6):hover{
					background:#fff;
					border:1px solid #eee;
					border-bottom: none;
					position:relative;
					z-index: 2;
					i{
						display:none;
					}
					b{
					display:block;
					width:15px;
					height:25px;
					background:url(../images/head_sprite.png) no-repeat -71px -320px; 
					float:right;
					}
				}
				&:nth-child(7){
					width:83px;
				}
				&:nth-child(7) a b{
					display:none;
				}
				&:nth-child(7) a i{
					display:block;
					width:15px;
					height:25px;
					background:url(../images/head_sprite.png) no-repeat -71px -301px; 
					float:right;

				}
				&:nth-child(7):hover{
					background:#fff;
					border:1px solid #eee;
					border-bottom: none;
					position:relative;
					z-index: 2;
					i{
						display:none;
					}
					b{
					display:block;
					width:15px;
					height:25px;
					background:url(../images/head_sprite.png) no-repeat -71px -320px; 
					float:right;
					}
				}
				a{
					line-height: 35px;
					color:#000;
					font-size:12px;
					padding: 0 5px;
				}
				a:hover{
					color:#ff2832;
					text-decoration:none;
				}
			}
			.hide{
				display:none;
			}
			.show{
				display:block;
			}
			.my_down_list{
				position:absolute;
				background:#fff;
				border:1px solid #eee;
				border-top: none;
				left:-1px;
				li{
					border:0;
					a{
					border:0;
					line-height:20px;
					padding-left:8px;
					display:block;
					width:81px;					
					}
					a:first-child{
						color:#646464;
					}
					a:hover{
						border:0;
						background: #f6f6f6;
					}
				}
				li:hover{
					border:0;
					background: #f6f6f6;
				}
			}
		}
	}
}
/* logo */
$logocolor:#d11e27;
.LOGObigbox{
	width:$bigboxwidth;
	.LOGObox{
		width:$boxwidth;
		margin: 0 auto;
		background:#fff;
		padding-bottom: 25px;
		img{
			float:left;
		}
		.searchBox{
			float:left;
			position:relative;
			input{
			width:515px;
			height:40px;
			margin-top:25px;
			padding-left:5px;
			font-size:12px;
			border:2px solid $logocolor;
			float:left;
			}
			.downList{
				position:absolute;
				right:52px;
				top:28px;
				width:100px;
				height:35px;
				border:none;
				background:#f6f6f6;
				a{
					display:block;
					color:#969696;
					font-size:16px;
					margin:8px 10px;
				}
				a:hover{
					text-decoration:none;
				}
				i{
					display:block;
					width:15px;
					height:25px;
					background:url(../images/head_sprite.png) no-repeat -11px -84px; 
					float:right;
				}
				.downAll{
					height:200px;
					overflow:auto;
					border:1px solid #eee;
					display:none;
					background:#fff;
					position:relative;
					z-index:60;
					a{
					padding:5px 5px 5px 10px;
					margin:0;
					font-size:12px;
					}
					a:hover{
						color:#fff;
						background:#969696;
					}
				}
				
			}
			.downList span{
				display:block;
				width:100px;
			}
			button{
				width:50px;
				height:40px;
				background:$logocolor url(../images/home_sprite_1511.png) no-repeat 10px -245px;
				border:none;
				margin:25px 0 0 0;
				float:left;
			}
			.left li{
				float:left;
				a{
					color:#969696;
					font-size:12px;
					padding:0 8px;
				}

			}
			.left li:first-child a{
				padding:0;
			}
			.right{
				float:right;
				li a{
					color:#969696;
					font-size:12px;
					padding:0 8px;
				}
			}
		}
		
		.shoppingcar{
			float:right;
			margin-top: 25px ;
			border:1px solid #eee;
			a:first-child{
				background:#ff2832;
				display:block;
				width:100px;
				height:35px;
				line-height:35px;
				float:left;
				i{
					padding:0 5px;
					color:#fff;
				}
				b{
					color:#fff;
				}
				span{
				display:block;
				width:30px;
				height:30px;
				background:url(../images/icon_cart.png) no-repeat 5px 0px; 
				float:left;
				}
			}
			a:first-child:hover{
				background:#fff;
				text-decoration:none;
				i,b{
					color:#000;
				}
				span{
					display:none;
				}
				strong{
					display:block;
					width:30px;
					height:30px;
					background:url(../images/icon_cart.png) no-repeat 5px -38px; 
					float:left;
				}
			}
			a:last-child{
				background:#f6f6f6;
				display:block;
				width:100px;
				height:35px;
				line-height:35px;
				text-align: center;
				color:#000;
				float:left;
			}
			a:last-child:hover{
				color:#ff2832;
				text-decoration:none;
			}
		}
	}
}
/* nav1 */
.nav1bigbox{
	width:$bigboxwidth;
	height:43px;
	border-bottom:3px solid #ff2832;
	.nav1box{
		width:$boxwidth;
		margin:0 auto;
		ul li{
			float:left;
			a{
				padding:0 15px;
				color:#000;
				line-height:42px;
				font-family:"Microsoft Yahei";
				font-weight:700;
			}
			a:hover{
				text-decoration:none;
				color:#ff2832;
			}
		}
		li:nth-child(2) a{
			padding-left:30px;
		}
		li:first-child a{
			line-height:42px;
			width:200px;
			display:block;
			background:#ff2832;
			color:#fff;
			padding:0 50px 0 20px;
			.iconfont{
				padding-left: 30px;
				color:#fff;
				font-weight:900;
				font-size:16px;
			}
		}
		li:first-child a:hover{
			color:#fff;
		}
	}
}
/* nav2 */
.nav2bigbox{
	width:$bigboxwidth;
	background:#f5f5f5;
	.nav2box{
		width:$boxwidth;
		margin:0 auto;
		ul li{
			float:left;
			a{
				padding:0 14px;
				font-size:12px;
				line-height:32px;
				color:#646464;
			}
			i{
				display:block;
				height:32px;
				width:1px;
				float:right;
				background:url(../images/sidemenu_bg1.png) no-repeat 0 12px;
			}
			a:hover{
				color:#ff2832;
			}
		}
	}
}
/* banner */
.bannerbigbox{
	width:$bigboxwidth;
	background:#fff;
	.bannerbox{
		width:$boxwidth;
		margin:0 auto;
		position:relative;
		height:508px;
		.left{
			width:200px;
			background:#fafafa;
			float:left;
			height:488px;
			position:relative;
			z-index:2;
			ul{
				
				li:first-child{
					margin-top: 9px;

				}
				li{
					padding-left:5px;
				}
				li a{
					color:#323232;
					padding-right:3px;
					line-height:29px;
					font-size:14px;
					font-family:"Microsoft Yahei";
				}
				li:hover,li.hover{
					text-decoration:none;
					border:2px solid #ff2832;
					background:#fff;
					border-right: 0;
					width:202px;
					a{
						color:#ff2832;
						font-size:16px;
					}
				}
			}
		}
		.left_list{
			position:absolute;
			left:200px;
			display:block;
			z-index:1;
			.left_list_div{
				position:absolute;				
				background:#fff;
				padding:10px;
				border:2px solid #ff2832;
				width:1000px;
				display:none;
				.l_l_d_top {
					li{
					float:left;
						a{	
							color:#fff;
							background:#a2a2a2;
							padding:2px 6px 2px 6px;;
							b{
								width:26px;
								height:20px;
								display:block;
								float:right;
								background:url(../images/home_sprite_1511.png) no-repeat -72px -146px;
							}
						}
						a:hover{
							text-decoration:none;
							background:#ff2832;
							b{
								display:none;
							}
							strong{
								width:26px;
								height:20px;
								display:block;
								float:right;
								background:url(../images/home_sprite_1511.png) no-repeat -72px -165px;
							}
						}
					}
				}
				.left_list_div_div{
					float:left;
					width:100%;

					h4{
						float:left;
						color:#ff2832;
						font-weight:bold;
						font-size:12px;
						line-height:22px;
						padding-left: 10px;
						border-bottom:1px solid #fff;
					}
					div{
						border-bottom:1px dashed #eee;
						margin-top:10px;
						margin-left:100px;
						padding-left:10px;
						a{
						color:#323232;
						padding:0 5px;
						line-height:22px;
						font-size:12px;
							i{
								font-family:"宋体";
								padding-left:8px;
								font-size:12px;
							}
						}
					}
				}
				.centerContent{
					ul{
						float:left;
						width:979px;
						line-height:30px;
						li{
							float:left;
							width:979px;
							h4{
								float:left;
								color:#ff2832;
								font-weight:bold;
								font-size:12px;
								line-height:31px;
								padding-left: 10px;
								border-bottom:1px solid #fff;
							}
							div{
								border-bottom:1px dashed #eee;
								margin-left:100px;
								padding-left:10px;
								a{
								color:#323232;
								padding:0 5px;
								font-size:12px;
								}
								a:hover{
									color:#ff2832;
								}
								i{
									color:#eee;
								}
							}
							
						}
					}
				}
			}
		}
		.center{
			float:left;
			background:#000;
			position:relative;
			width:796px;
			height:487px;
			overflow:hidden;
			.bannerimg{			
				position:relative;
				li{
					position:absolute;
				}
				li a:first-child{
					display:block;
					width:796px;
					img{
						width: 100%;
					}
				}
				a:nth-child(2) img,a:nth-child(3) img,a:nth-child(4) img,a:nth-child(5) img,a:nth-child(6) img{
					float:left;
					opacity:0.9;
					width:199px;
					border:1px solid #eee;
				}
				a:nth-child(2):hover{
					img{
						opacity:1;
					}
				}
				a:nth-child(3):hover,a:nth-child(4):hover,a:nth-child(5):hover{
					img{
						opacity:1;
					}
				}
			}
			.onum{
				position:absolute;
				left:280px;
				bottom: 200px;
				cursor: pointer;
				li{
					width:20px;
					height:20px;
					background:#666;
					text-align:center;
					line-height:20px;
					border-radius: 50%;
					font-size:12px;
					float:left;
					margin:0 5px;
					color:#fff;
				}
				li:hover,li.hover{
					width:20px;
					height:20px;
					background:#ff2832;
					text-align:center;
					line-height:20px;
					border-radius: 50%;
					font-size:12px;
					float:left;
					margin:0 5px;
					color:#fff;
				}
			}
		}
		.right{
			float:right;
			img{
				border:1px solid #f0f0f0;
				cursor: pointer;
			}
			nav a{
				line-height:35px;
				display:block;
				float:left;
				padding: 0 22px;
				font-size:14px;
				color:#323232;
				background:#f0f0f0;
				border:1px solid #e6e6e6;
			}
			& a:hover{
				background-color: #fff;
				text-decoration:none;
				border:1px solid #fff;

			}
			ul{
				padding:8px 5px 12px;
				border:1px solid #eee;
				li a{
					line-height:22px;
					font-size:12px;
					color:#323232;
				}
				a:hover{
					line-height:22px;
					font-size:12px;
					color:#ff2832;
				}
				& .iconfont{
					line-height:22px;
					font-size:12px;
					color:#323232;
				}
			}
		}
	}
}
/* seckill */
.sckillbigbox{
	width:100%;
	background:#fff;
	.sckillbox{
		width:$boxwidth;
		margin:0 auto;
		margin-top:20px;
		background:#fff;
			.left{
				float:left;
				.timer{
					border-bottom:2px solid #3c3c3c;
					width:996px;
					a img{
						margin-right: 30px;
					}
					img{
						float:left;
					}
					aside{
						float:left;
						width:130px;
						height:39px;
						background:url(../images/home_miaosha.png) no-repeat;
						span:first-child{
							font-size:20px;
							margin-left:32px;
							display:inline-block;
							margin-top:3px; 
						}
						span:nth-child(2){
							font-size:20px;
							margin-left:11px;
							display:inline-block;
							margin-top:3px; 
						}
						span:last-child{
							font-size:20px;
							margin-left:11px;
							display:inline-block;
							margin-top:3px; 
						}
					}
					ul{
						float:left;
						li{
							float:left;
							a{
								font-size:20px;
								color:#323232;
								margin-right:30px;
								display:block;
								float:left;
								line-height:40px;
							}
							a:hover{
								border-bottom:3px solid #ff2832;
								text-decoration:none;
								display:block;
								margin-bottom:-3px;
							}
							a:first-child{
								margin-left:40px;
							}
						}
					}
				}
				.photo{
					width:995px;
					dl{
						border:1px solid #eee;
						width:199px;
						text-align:center;
						float:left;
						padding-bottom:10px;
						dt img{
							margin:0 auto;
							padding: 10px;
							cursor: pointer;
						}
						dd{
							
							div{
								height:8px;
								width:130px;
								background:#ffb7b7;
								border-radius:5px;
								position:relative;
								top:-30px;
								z-index:10;
								margin:0 auto;
								span:first-child{
									background:#fc2c3a;
									height:8px;
									width:0%;
									display:block;
									border-radius:5px;
									position:relative;
									z-index:20;
								}
								span:nth-child(2){
									background:#ffb7b7;
									height:20px;
									width:76px;
									display:block;
									border-radius:10px;
									position:relative;
									left:27px;
									top:-15px;
								}
								span:last-child{
									display:block;
									
									color:#fff;
									font-size: 12px;
									line-height:20px;
									text-align:center;
									position:relative;
									left:0;
									top:-35px;
									z-index:30;
								}
							}
							a{
								line-height:20px;
								font-size:12px;
								color:#323232;
								display:block;
							}
							a:hover{
								color:#ff2832;
							}
							span{
								font-size:14px;
								color:#ff2832;
								b{
									font-size:12px;
								}
							}
							i{
								font-size:12px;
								color:#666;
								text-decoration:line-through;
								padding-left:5px;
							}
						}
					}
				}
			}
		.right{
			float:right;
			ul{
				border-bottom:2px solid #ff2832;
				width:204px;
				li{
					float:left;
					a{
						font-size:20px;
						color:#ff2832;
						margin-right:30px;
						display:block;
						float:left;
						line-height:40px;
						padding-left:20px;
					}
				}				
			}
			aside img{
					border: 1px solid #eee;
					border-left: none;
					width:100%;
					cursor: pointer;
				}
		}
	}
}
/* 尾品汇 */
.weibigbox{
	width:100%;
	.weibox{
		width:$boxwidth;
		background:#fff;
		margin:0 auto;
			.top{
				img{
				float:left;
				margin-top:30px;
				cursor: pointer;
			}
			a{
				float:right;
				color:#ff2832;
				padding-top:45px;
			}
		}
		.bottom{
			.left{
				float:left;
				img{
				border:1px solid #e6e6e6;
				cursor: pointer;
				}
				aside{
					border:1px solid #e6e6e6;
					width:200px;
					ul{	
						li{
							float:left;
							background-color:#f9f9f9;
							width:50%;
							text-align:center;
							height:118px;
							position:relative;
							border:1px solid #eee;
							img{
								position:absolute;
								border:0;
								margin:auto;
								top:0;
								left:0;
								bottom:0;
								right:0;
								cursor: pointer;
							}
						}
					}
				}
			}
			.right{
				float:left;
				width:1000px;
				ul li{
					border:1px solid #eee;
					width:20%;
					float: left;
					a{
					    border: 1px solid #fff;
					    display: block;
					    img{
                        width:100%;
                        cursor: pointer;
                        }
					}
					
				}
				li:hover{
					border:1px solid #ff5797;
					a{
					    border:1px solid #ff5797;
					}
				}
			}
		}
	}
}
/* book */
.bookbigbox{
	width:100%;
	.bookbox{
		margin:0 auto;
		width:$boxwidth;
		margin-top: 30px;
			.left{
				float:left;
				.top{
	                border-bottom: 2px solid #323232;
	                width:910px;
	                aside{
	                float:left;
	                margin-right:82px ;
	                
	                a{
	                    color:#323232;
	                    font-size:25px;
	                    text-decoration: none;
	                }
	                a:hover{
	                    color:#ff2832;
	                }
	                span{
	                    font-size:30px;
	                    position:relative;
	                    top:-3px;
	                }
	            }
	            ul{
	                float:left;
	                width:570px;
	                
	                li{
	                float:left;
	                    a{
	                        text-decoration: none;
	                        color:#323232;
	                        line-height: 42px;
	                        font-size: 14px;
	                        font-weight: bold;
	                        display: block;
	                        width:114px;
	                        height:42px;
	                        text-align: center;
	                        border-left: 1px solid #eee;
	                        border-top: 1px solid #eee;
	                        
	                    }
	                    a:hover{
	                        border: 2px solid #323232;
	                        border-bottom: none;
	                        font-size:16px;
	                        position: relative;
	                        z-index: 5;
	                        top:2px;
	                        background: #fff;
	                    }
	                }
	                li:last-child a{
	                    border-right:1px solid #eee;
	                }
	                li:last-child a:hover{
	                    border-right:2px solid #323232;
	                }
	            }
	        }
	        .bottom{
	            width:914px;
	            aside{
	                float:left;
	                position: relative;
	                .aside_img1{
	                	float: left;
	                }
	                ul{
	                    width:238px;
	                    position: absolute;
	                    top:320px;
	                    left:0;
	                    background:#fff;
	                    border: 1px solid #eee;
	                    li{
	                        width:77px;
	                        float:left;
	                        padding-left: 8px;
	                        a{
	                            color:#323232;
	                            line-height: 30px;
	                            font-size:12px;
	                        }
	                    }
	                }
	                article{
	                	padding-top:5px;
		            	.dl1{
		            		float:left;
		            		padding:0;
		            		cursor: pointer;
		            		border:0;
		            		dt{
		                    border: 1px solid #eee;
		                    border-bottom:0;
		                    width:337px;
		               		}
		            	}
						dl{
							padding:0 9px;
							height:220px;
							float:left;
							border-bottom:1px solid #eee;
							border-right:1px solid #eee;
							border-top:1px solid #eee;
							cursor: pointer;
							dd{
								a{
									color:#323232;
									overflow:hidden;
									display: block;
									width:150px;
									height:16px;
									font-size:12px;
									padding-left:8px;
									margin:5px 0;	
								}
								p{
									span{
										color:#ff2832;
										font-weight:700;
										font-size:14px;
									}
									i{
										color:#666;
										text-decoration:line-through;
										padding:0 10px;
										font-size:12px;
									}
								}

							}
							dd a:hover{
								color:#ff2832;
							}
						}
		            }
	            }
	        }
		}
		.right{
			float:right;
			nav{
				p{
					a{
						line-height:49px;
						color:#464646;
						font-size:16px;
						display:block;
						float:left;
						width:136px;
						text-align:center;
						border:1px solid #eee;
						background:#f5f5f5;
					}
					a:hover{
						background:#fff;
						border-bottom:0px;
					}
				}
				ul{
					border:1px solid #eee;
					border-top:0;
					float:left;
					width:272px;
					height:438px;
					li{
						color:#666;
						line-height:30px;
						i{
							padding: 0 10px;
							float:left;
						}
						&:first-child i{
							color:#ff2832;
						}
						&:nth-child(2) i{
							color:#ff2832;
						}
						&:nth-child(3) i{
							color:#ff2832;
						}
						a{
							color:#666;
							border-bottom:1px solid #eee;
							display:block;
							float:left;
							width:216px;
						}
						&:last-child a{
							border:0;
						}
						a:hover{
							color:#ff2832;
						}
					}
				}
			}
		}
	}
}
/* 日用百货 *//*当当优品*/
.bigcommoditybox{
	width:100%;
	.commoditybox{
		width:$boxwidth;
		margin:0 auto;
			.outertop{
				margin-bottom:5px;
				ul{
					margin-top:30px;

					li{
						float:left;	
						a{
							color:#323232;
							font-size:16px;
							font-weight:700;
							padding:0 20px;
							i{
								font-size:14px;
								padding:0 10px 0 5px;
							}
						}
						a:hover{
							color:#ff2832;
						}
						&:first-child{
							a{
							padding:0;
							}
							b{
								font-weight:900;
								padding-left:10px;
							}
						}
					}
					b{
						font-size:16px;
						color:#999;
						font-family:"宋体";
					}
			}
		}
		.outercenter{
			.left{
				float:left;
				width:400px;
				ul li{
					border:1px solid #eee;
					float:left;
				}
				ul li:nth-child(2){
					border-width: 1px 0 1px 0;
				}
				ul li:nth-child(3){
					border-width: 0 1px 1px 1px;
				}
				ul li:nth-child(4){
					border-width: 0 0 1px 0;
				}
			}
			.center{
				float:left;
				a{
					border:1px solid #eee;
					display:block;
				}
			}
			.right{
				float:right;
				width:400px;
				ul li{
					border:1px solid #eee;
					float:left;
					border-left:0;
				}
				ul li:nth-child(2){
					border-width: 1px 1px 1px 0;
				}
				ul li:nth-child(3){
					border-width: 0 1px 1px 0;
				}
				ul li:nth-child(4){
					border-width: 0 1px 1px 0;
				}
			}
		}
		.outerbottom{
			width:1200px;
			ul{
				background:#f7f7f7;
				padding:5px 0 0 5px;
				li{
					float:left;
					height:44px;
					width:118px;
				}	
			}
		}
	}
}
/* 创意玩具 */
.bigstationerybox{
	width:100%;
	.stationerybox{
		width:$boxwidth;
		margin:0 auto;
		h4{
			font-weight:700;
			padding:20px 0 10px 0;
		}
		ul li{
			float:left;
			border:1px solid #eee;
			margin-right:10px;
		}
		.last_li{
			margin:0;
		}
	}
}
/* 为你推荐 */
.bigrecommendbox{
	width:100%;
	.recommendbox{
		width:$boxwidth;
		margin:0 auto;
		.top{
			a{
				display:block;
				border-bottom:2px solid #ff2832;
				h4{
					font-weight:700;
					padding:20px 0 10px 10px;
					color:#ff2832;
					font-size:20px;
				}
			}
		}
		.bottom{
			border:1px solid #eee;
			margin-top:10px;
			dl{
				float:left;
				width:190px;
				height:258px;
				padding:4px 3px 7px ;
				border:1px solid #fff;
				text-align:center;
				margin:0 4px;
				cursor:pointer;
				dt{
					width:190px;
					height:185px;
					img{
						margin:0 auto;
						width:150px;
					}
				}
				dd{
					a{
						display:block;
						width:190px;
						height:32px;
						line-height:16px;
						overflow:hidden;
						color:#323232;
						font-size:12px;
						margin-bottom:5px;
					}
					a:hover{
						color:#ff2832;
					}
					span{
						font-size:18px;
						color:#ff2832;
						float:left;
					}
					i{
						font-size:12px;
						color:#999;
						float:right;
						padding-top:5px;
					}
				}
			}
			dl:hover{
				box-shadow: 0 0 4px #ddd;
				border:1px solid #efefef;
			}
		}
	}
}
/* footer */
.bigfooterbox1{
	width:100%;
	background:#fafafa;
	.footerbox1{
		width:$boxwidth;
		margin:0 auto;
		ul{
			padding:10px 0;
			li{
				float:left;
				margin-left:95px;
			}
			li:first-child{
				width:138px;
				height:52px;
				background:url(../images/footer_bg.png) no-repeat;
				margin-left:190px;
			}
			li:nth-child(2){
				width:138px;
				height:52px;
				background:url(../images/footer_bg.png) no-repeat;
			}
			li:nth-child(3){
				width:138px;
				height:52px;
				background:url(../images/footer_bg.png) no-repeat;
			}
			li:nth-child(4){
				width:138px;
				height:52px;
				background:url(../images/footer_bg.png) no-repeat;
			}
		}
	}
}
.bigfooterbox2{
	width:100%;
	background:#fff;
	border-bottom:1px solid #999;
	.footerbox2{
		width:$boxwidth;
		margin:0 auto;
		height:140px;
		padding-top:20px;
		ul{
			margin-left:95px;
			float:left;
			li{
				b{
					font-size:14px;
					font-weight:700;
				}
				a{
					color:#323232;
					font-size:12px;
					line-height:20px;
				}
				a:hover{
					color:#ff2832;
				}
			}
		}
		ul:first-child{
			margin-left:190px;
		}
	}
}
.bigfooter3box{
	width:100%;
		.footer3box{
		width:730px;
		margin:0 auto;
		ul{
			li{
				float:left;
				a{
					color:#323232;
					padding:0 20px;
					font-size:12px;
					line-height:36px;
				}
				a:hover{
					color:#ff2832;
				}
			}
		}
	}
}
.bixfooterCopyightbox{
	width:100px;
	.footerCopyightbox{
		line-height:20px;
		text-align:center;
		width:$boxwidth;
		margin: 0 auto;
		padding:10px 0;
		span{
			display:inline-block;
			float:none;
			color:#8c8c8c;
			font-size:12px;
		}
	}
}
.bixfooter4box{
	width:100%;
	.footer4box{
		line-height:20px;
		text-align:center;
		width:1200px;
		margin:0 auto;
		span{
			color:#8c8c8c;
			font-size:12px;
			a{
				padding: 0 4px;
				color:#8c8c8c;
				font-size:12px;
				text-decoration:none;
			}
			a:hover{
				color:#ff2832;
			}
		}
	}
}
.bigfooter5box{
	width:100%;
	.footer5box{
		width:$boxwidth;
		margin:0 auto;
		height:100px;
		ul{
			margin:30px 0;
			li{
				float:left;
				margin-left:57px;
			}
			li:first-child{
				margin-left:148px;
			}
		}
	}
}

/* 侧边广告栏 */
.broadsidetop{
	position:fixed;
	top:0;
	right:0;
	nav{
		position:relative;
		.nav_a1{
			display:block;
			width:34px;
			height:34px;
			background:url(../images/sidebar_icon_1x.png) no-repeat;
		}
		.nav_span1{
			display:block;
			width:34px;
			height:34px;
			background:url(../images/sidebar_icon_1x.png) no-repeat -40px 0;
			position:absolute;
			top:0px;
			right:-115px;
			i{
				position:absolute;
				top:0px;
				right:34px;
				color:#fff;
				background:#323232;
				display:block;
				height:34px;
				width:79px;
				text-align:center;
				line-height:34px;
			}
			b{
				position:absolute;
				display:block;
				width:15px;
				height:15px;
				text-align:center;
				line-height:15px;
				border-radius:5px;
				background:#ff2832;
				top:4px;
				left:-96px;
				color:#fff;
			}
		}
		.nav_a2{
			display:block;
			width:34px;
			height:34px;
			background:url(../images/sidebar_icon_1x.png) no-repeat 0 -38px;
		}
		.nav_span2{
			display:block;
			width:34px;
			height:34px;
			background:url(../images/sidebar_icon_1x.png) no-repeat -40px -35px;
			position:absolute;
			top:35px;
			right:-115px;
			i{
				position:absolute;
				top:0px;
				right:34px;
				color:#fff;
				background:#323232;
				display:block;
				height:34px;
				width:79px;
				text-align:center;
				line-height:34px;
			}
		}
		.nav_a3{
			display:block;
			width:34px;
			height:34px;
			background:url(../images/sidebar_icon_1x.png) no-repeat 0 -70px;
		}
		.nav_span3{
			display:block;
			width:34px;
			height:34px;
			background:url(../images/sidebar_icon_1x.png) no-repeat -40px -70px;
			position:absolute;
			top:70px;
			right:-115px;
			i{
				position:absolute;
				top:0px;
				right:34px;
				color:#fff;
				background:#323232;
				display:block;
				height:34px;
				width:79px;
				text-align:center;
				line-height:34px;
			}
		}
		.nav_a4{
			display:block;
			width:34px;
			height:34px;
			background:url(../images/sidebar_icon_1x.png) no-repeat 0 -102px;
		}
		.nav_span4{
			display:block;
			width:34px;
			height:34px;
			background:url(../images/sidebar_icon_1x.png) no-repeat -40px -105px;
			position:absolute;
			top:105px;
			right:-115px;
			i{
				position:absolute;
				top:0px;
				right:34px;
				color:#fff;
				background:#323232;
				display:block;
				height:34px;
				width:79px;
				text-align:center;
				line-height:34px;
			}
		}
		.nav_a5{
			display:block;
			width:34px;
			height:34px;
			background:url(../images/sidebar_icon_1x.png) no-repeat 0 -210px;
		}
		.nav_span5{
			display:block;
			width:34px;
			height:34px;
			background:url(../images/sidebar_icon_1x.png) no-repeat -40px -210px;
			position:absolute;
			top:140px;
			right:-115px;
			i{
				position:absolute;
				top:0px;
				right:34px;
				color:#fff;
				background:#323232;
				display:block;
				height:34px;
				width:79px;
				text-align:center;
				line-height:34px;
			}
		}

	}
}
.broadsidebottom{
		position:fixed;
		bottom:0;
		right:0;
	aside{
		
		position:relative;
		.aside_a1{
			display:block;
			width:34px;
			height:34px;
			background:url(../images/sidebar_icon_1x.png) no-repeat 0 -140px;
		}
		.aside_span1{
			display:block;
			width:350px;
			height:129px;
			background:url(../images/code_three.jpg) no-repeat ;
			position:absolute;
			top:-10px;
			right:-350px;
		}
		.aside_a2{
			display:block;
			width:34px;
			height:34px;
			background:url(../images/sidebar_icon_1x.png) no-repeat 0 -175px;
		}
		.aside_span2{
			display:block;
			width:34px;
			height:34px;
			background:url(../images/sidebar_icon_1x.png) no-repeat -40px -175px;
			position:absolute;
			top:35px;
			right:-115px;
			i{
				position:absolute;
				top:0px;
				right:34px;
				color:#fff;
				background:#323232;
				display:block;
				height:34px;
				width:79px;
				text-align:center;
				line-height:34px;
			}
		}
		.aside_a3{
			display:block;
			width:34px;
			height:34px;
			background:url(../images/sidebar_icon_1x.png) no-repeat 0 -245px;
		}
		.aside_span3{
			display:block;
			width:34px;
			height:34px;
			background:url(../images/sidebar_icon_1x.png) no-repeat -40px -245px;
			position:absolute;
			top:70px;
			right:-115px;
			i{
				position:absolute;
				top:0px;
				right:34px;
				color:#fff;
				background:#323232;
				display:block;
				height:34px;
				width:79px;
				text-align:center;
				line-height:34px;
			}
		}
	}
}
/* top搜索框 */
.bigsearchbox{
	width:100%;
	background:rgba(255,0,0,.7);
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	display:none;
	.searchbox{
		width:$boxwidth;
		margin:0 auto;
		height:52px;
		padding:10px 0;
		a{
			float:left;
		}
		nav{
			float:left;
			width:738px;
			height:40px;
			background:#fff;
			line-height: 33px;
			margin:5px 0 10px 100px;
			padding-left:10px;
			position:relative;
			input{
				border:0;
				line-height:40px;
				width:700px;
				color:#666;
				height:40px;
				font-size:12px;
				outline: none;
			}
			button{
				width:50px;
				height:40px;
				background:$logocolor url(../images/home_sprite_1511.png) no-repeat 10px -245px;
				border:none;
				float:left;
				position:absolute;
				top:0;
				right:0;
				outline: none;
			}
		}
	}
}