@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, ul, ol, fieldset, table, div, p, form, dt, dl, dd, img, legend {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, figure {
  font-weight: normal; }

img {
  display: block; }

img, fieldset {
  border: 0; }

i, em, b, strong {
  font-style: normal;
  font-weight: normal; }

a {
  text-decoration: none; }

ul, ol, li {
  list-style: none; }

.clear:after {
  content: "";
  clear: both;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  display: block; }

/* header */
.container-fluid {
  margin: 0;
  padding: 0; }

.bigbox {
  width: 100%;
  background: #f9f9f9; }
  .bigbox .box {
    width: 1200px;
    margin: 0 auto;
    background: #f9f9f9; }
    .bigbox .box .left {
      float: left; }
      .bigbox .box .left .onovercity .ocity_a {
        text-decoration: none;
        margin-top: 5px;
        height: 21px;
        padding: 0 0 0 4px;
        border-bottom: none;
        display: block;
        position: relative;
        width: 95px;
        z-index: 2;
        line-height: 35px;
        color: #000;
        font-size: 12px; }
        .bigbox .box .left .onovercity .ocity_a i {
          display: block;
          width: 15px;
          height: 25px;
          background: url(../images/head_sprite.png) no-repeat -71px -301px;
          float: right; }
      .bigbox .box .left .onovercity .ocity_a:hover, .bigbox .box .left .onovercity .ocity_a.hover_a {
        background: #fff;
        height: 22px;
        width: 95px;
        display: block;
        padding-left: 10px;
        border: 1px solid #6e6e6e;
        border-bottom: none;
        position: relative;
        z-index: 2; }
        .bigbox .box .left .onovercity .ocity_a:hover i, .bigbox .box .left .onovercity .ocity_a.hover_a i {
          display: none; }
        .bigbox .box .left .onovercity .ocity_a:hover em, .bigbox .box .left .onovercity .ocity_a.hover_a em {
          display: block;
          width: 15px;
          height: 25px;
          background: url(../images/head_sprite.png) no-repeat -71px -320px;
          float: right; }
    .bigbox .box #city {
      width: 300px;
      height: 195px;
      position: absolute;
      top: 26px;
      left: 75px;
      padding: 10px;
      border: 1px solid #6e6e6e;
      background: #fff; }
      .bigbox .box #city li {
        width: 55px;
        height: 25px;
        float: left; }
      .bigbox .box #city li a {
        color: #000;
        font-size: 12px;
        padding: 5px 5px 0 10px;
        float: left; }
    .bigbox .box .right {
      float: right; }
      .bigbox .box .right .mydangdang {
        width: 85px; }
      .bigbox .box .right li {
        float: left;
        color: #000;
        font-size: 12px;
        border: 1px solid #f9f9f9; }
        .bigbox .box .right li:first-child a:first-child {
          color: #ff2832;
          text-decoration: none; }
        .bigbox .box .right li:nth-child(3) a em {
          float: right;
          line-height: 35px; }
        .bigbox .box .right li:nth-child(3) a i {
          display: block;
          width: 15px;
          height: 25px;
          background: url(../images/head_sprite.png) no-repeat -71px -301px;
          float: right; }
        .bigbox .box .right li:nth-child(3) a b {
          display: none; }
        .bigbox .box .right li:nth-child(3):hover {
          background: #fff;
          border: 1px solid #eee;
          border-bottom: none;
          position: relative;
          z-index: 5; }
          .bigbox .box .right li:nth-child(3):hover i {
            display: none; }
          .bigbox .box .right li:nth-child(3):hover b {
            display: block;
            width: 15px;
            height: 25px;
            background: url(../images/head_sprite.png) no-repeat -71px -320px;
            float: right; }
        .bigbox .box .right li:nth-child(6) {
          width: 83px; }
        .bigbox .box .right li:nth-child(6) em {
          float: right;
          line-height: 35px; }
        .bigbox .box .right li:nth-child(6) a i {
          display: block;
          width: 15px;
          height: 25px;
          background: url(../images/head_sprite.png) no-repeat -71px -301px;
          float: right; }
        .bigbox .box .right li:nth-child(6) a b {
          display: none; }
        .bigbox .box .right li:nth-child(6):hover {
          background: #fff;
          border: 1px solid #eee;
          border-bottom: none;
          position: relative;
          z-index: 2; }
          .bigbox .box .right li:nth-child(6):hover i {
            display: none; }
          .bigbox .box .right li:nth-child(6):hover b {
            display: block;
            width: 15px;
            height: 25px;
            background: url(../images/head_sprite.png) no-repeat -71px -320px;
            float: right; }
        .bigbox .box .right li:nth-child(7) {
          width: 83px; }
        .bigbox .box .right li:nth-child(7) a b {
          display: none; }
        .bigbox .box .right li:nth-child(7) a i {
          display: block;
          width: 15px;
          height: 25px;
          background: url(../images/head_sprite.png) no-repeat -71px -301px;
          float: right; }
        .bigbox .box .right li:nth-child(7):hover {
          background: #fff;
          border: 1px solid #eee;
          border-bottom: none;
          position: relative;
          z-index: 2; }
          .bigbox .box .right li:nth-child(7):hover i {
            display: none; }
          .bigbox .box .right li:nth-child(7):hover b {
            display: block;
            width: 15px;
            height: 25px;
            background: url(../images/head_sprite.png) no-repeat -71px -320px;
            float: right; }
        .bigbox .box .right li a {
          line-height: 35px;
          color: #000;
          font-size: 12px;
          padding: 0 5px; }
        .bigbox .box .right li a:hover {
          color: #ff2832;
          text-decoration: none; }
      .bigbox .box .right .hide {
        display: none; }
      .bigbox .box .right .show {
        display: block; }
      .bigbox .box .right .my_down_list {
        position: absolute;
        background: #fff;
        border: 1px solid #eee;
        border-top: none;
        left: -1px; }
        .bigbox .box .right .my_down_list li {
          border: 0; }
          .bigbox .box .right .my_down_list li a {
            border: 0;
            line-height: 20px;
            padding-left: 8px;
            display: block;
            width: 81px; }
          .bigbox .box .right .my_down_list li a:first-child {
            color: #646464; }
          .bigbox .box .right .my_down_list li a:hover {
            border: 0;
            background: #f6f6f6; }
        .bigbox .box .right .my_down_list li:hover {
          border: 0;
          background: #f6f6f6; }

/* logo */
.LOGObigbox {
  width: 100%; }
  .LOGObigbox .LOGObox {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding-bottom: 25px; }
    .LOGObigbox .LOGObox img {
      float: left; }
    .LOGObigbox .LOGObox .searchBox {
      float: left;
      position: relative; }
      .LOGObigbox .LOGObox .searchBox input {
        width: 515px;
        height: 40px;
        margin-top: 25px;
        padding-left: 5px;
        font-size: 12px;
        border: 2px solid #d11e27;
        float: left; }
      .LOGObigbox .LOGObox .searchBox .downList {
        position: absolute;
        right: 52px;
        top: 28px;
        width: 100px;
        height: 35px;
        border: none;
        background: #f6f6f6; }
        .LOGObigbox .LOGObox .searchBox .downList a {
          display: block;
          color: #969696;
          font-size: 16px;
          margin: 8px 10px; }
        .LOGObigbox .LOGObox .searchBox .downList a:hover {
          text-decoration: none; }
        .LOGObigbox .LOGObox .searchBox .downList i {
          display: block;
          width: 15px;
          height: 25px;
          background: url(../images/head_sprite.png) no-repeat -11px -84px;
          float: right; }
        .LOGObigbox .LOGObox .searchBox .downList .downAll {
          height: 200px;
          overflow: auto;
          border: 1px solid #eee;
          display: none;
          background: #fff;
          position: relative;
          z-index: 60; }
          .LOGObigbox .LOGObox .searchBox .downList .downAll a {
            padding: 5px 5px 5px 10px;
            margin: 0;
            font-size: 12px; }
          .LOGObigbox .LOGObox .searchBox .downList .downAll a:hover {
            color: #fff;
            background: #969696; }
      .LOGObigbox .LOGObox .searchBox .downList span {
        display: block;
        width: 100px; }
      .LOGObigbox .LOGObox .searchBox button {
        width: 50px;
        height: 40px;
        background: #d11e27 url(../images/home_sprite_1511.png) no-repeat 10px -245px;
        border: none;
        margin: 25px 0 0 0;
        float: left; }
      .LOGObigbox .LOGObox .searchBox .left li {
        float: left; }
        .LOGObigbox .LOGObox .searchBox .left li a {
          color: #969696;
          font-size: 12px;
          padding: 0 8px; }
      .LOGObigbox .LOGObox .searchBox .left li:first-child a {
        padding: 0; }
      .LOGObigbox .LOGObox .searchBox .right {
        float: right; }
        .LOGObigbox .LOGObox .searchBox .right li a {
          color: #969696;
          font-size: 12px;
          padding: 0 8px; }
    .LOGObigbox .LOGObox .shoppingcar {
      float: right;
      margin-top: 25px;
      border: 1px solid #eee; }
      .LOGObigbox .LOGObox .shoppingcar a:first-child {
        background: #ff2832;
        display: block;
        width: 100px;
        height: 35px;
        line-height: 35px;
        float: left; }
        .LOGObigbox .LOGObox .shoppingcar a:first-child i {
          padding: 0 5px;
          color: #fff; }
        .LOGObigbox .LOGObox .shoppingcar a:first-child b {
          color: #fff; }
        .LOGObigbox .LOGObox .shoppingcar a:first-child span {
          display: block;
          width: 30px;
          height: 30px;
          background: url(../images/icon_cart.png) no-repeat 5px 0px;
          float: left; }
      .LOGObigbox .LOGObox .shoppingcar a:first-child:hover {
        background: #fff;
        text-decoration: none; }
        .LOGObigbox .LOGObox .shoppingcar a:first-child:hover i, .LOGObigbox .LOGObox .shoppingcar a:first-child:hover b {
          color: #000; }
        .LOGObigbox .LOGObox .shoppingcar a:first-child:hover span {
          display: none; }
        .LOGObigbox .LOGObox .shoppingcar a:first-child:hover strong {
          display: block;
          width: 30px;
          height: 30px;
          background: url(../images/icon_cart.png) no-repeat 5px -38px;
          float: left; }
      .LOGObigbox .LOGObox .shoppingcar a:last-child {
        background: #f6f6f6;
        display: block;
        width: 100px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #000;
        float: left; }
      .LOGObigbox .LOGObox .shoppingcar a:last-child:hover {
        color: #ff2832;
        text-decoration: none; }

/* nav1 */
.nav1bigbox {
  width: 100%;
  height: 43px;
  border-bottom: 3px solid #ff2832; }
  .nav1bigbox .nav1box {
    width: 1200px;
    margin: 0 auto; }
    .nav1bigbox .nav1box ul li {
      float: left; }
      .nav1bigbox .nav1box ul li a {
        padding: 0 15px;
        color: #000;
        line-height: 42px;
        font-family: "Microsoft Yahei";
        font-weight: 700; }
      .nav1bigbox .nav1box ul li a:hover {
        text-decoration: none;
        color: #ff2832; }
    .nav1bigbox .nav1box li:nth-child(2) a {
      padding-left: 30px; }
    .nav1bigbox .nav1box li:first-child a {
      line-height: 42px;
      width: 200px;
      display: block;
      background: #ff2832;
      color: #fff;
      padding: 0 50px 0 20px; }
      .nav1bigbox .nav1box li:first-child a .iconfont {
        padding-left: 30px;
        color: #fff;
        font-weight: 900;
        font-size: 16px; }
    .nav1bigbox .nav1box li:first-child a:hover {
      color: #fff; }

/* nav2 */
.nav2bigbox {
  width: 100%;
  background: #f5f5f5; }
  .nav2bigbox .nav2box {
    width: 1200px;
    margin: 0 auto; }
    .nav2bigbox .nav2box ul li {
      float: left; }
      .nav2bigbox .nav2box ul li a {
        padding: 0 14px;
        font-size: 12px;
        line-height: 32px;
        color: #646464; }
      .nav2bigbox .nav2box ul li i {
        display: block;
        height: 32px;
        width: 1px;
        float: right;
        background: url(../images/sidemenu_bg1.png) no-repeat 0 12px; }
      .nav2bigbox .nav2box ul li a:hover {
        color: #ff2832; }

/* banner */
.bannerbigbox {
  width: 100%;
  background: #fff; }
  .bannerbigbox .bannerbox {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 508px; }
    .bannerbigbox .bannerbox .left {
      width: 200px;
      background: #fafafa;
      float: left;
      height: 488px;
      position: relative;
      z-index: 2; }
      .bannerbigbox .bannerbox .left ul li:first-child {
        margin-top: 9px; }
      .bannerbigbox .bannerbox .left ul li {
        padding-left: 5px; }
      .bannerbigbox .bannerbox .left ul li a {
        color: #323232;
        padding-right: 3px;
        line-height: 29px;
        font-size: 14px;
        font-family: "Microsoft Yahei"; }
      .bannerbigbox .bannerbox .left ul li:hover, .bannerbigbox .bannerbox .left ul li.hover {
        text-decoration: none;
        border: 2px solid #ff2832;
        background: #fff;
        border-right: 0;
        width: 202px; }
        .bannerbigbox .bannerbox .left ul li:hover a, .bannerbigbox .bannerbox .left ul li.hover a {
          color: #ff2832;
          font-size: 16px; }
    .bannerbigbox .bannerbox .left_list {
      position: absolute;
      left: 200px;
      display: block;
      z-index: 1; }
      .bannerbigbox .bannerbox .left_list .left_list_div {
        position: absolute;
        background: #fff;
        padding: 10px;
        border: 2px solid #ff2832;
        width: 1000px;
        display: none; }
        .bannerbigbox .bannerbox .left_list .left_list_div .l_l_d_top li {
          float: left; }
          .bannerbigbox .bannerbox .left_list .left_list_div .l_l_d_top li a {
            color: #fff;
            background: #a2a2a2;
            padding: 2px 6px 2px 6px; }
            .bannerbigbox .bannerbox .left_list .left_list_div .l_l_d_top li a b {
              width: 26px;
              height: 20px;
              display: block;
              float: right;
              background: url(../images/home_sprite_1511.png) no-repeat -72px -146px; }
          .bannerbigbox .bannerbox .left_list .left_list_div .l_l_d_top li a:hover {
            text-decoration: none;
            background: #ff2832; }
            .bannerbigbox .bannerbox .left_list .left_list_div .l_l_d_top li a:hover b {
              display: none; }
            .bannerbigbox .bannerbox .left_list .left_list_div .l_l_d_top li a:hover strong {
              width: 26px;
              height: 20px;
              display: block;
              float: right;
              background: url(../images/home_sprite_1511.png) no-repeat -72px -165px; }
        .bannerbigbox .bannerbox .left_list .left_list_div .left_list_div_div {
          float: left;
          width: 100%; }
          .bannerbigbox .bannerbox .left_list .left_list_div .left_list_div_div h4 {
            float: left;
            color: #ff2832;
            font-weight: bold;
            font-size: 12px;
            line-height: 22px;
            padding-left: 10px;
            border-bottom: 1px solid #fff; }
          .bannerbigbox .bannerbox .left_list .left_list_div .left_list_div_div div {
            border-bottom: 1px dashed #eee;
            margin-top: 10px;
            margin-left: 100px;
            padding-left: 10px; }
            .bannerbigbox .bannerbox .left_list .left_list_div .left_list_div_div div a {
              color: #323232;
              padding: 0 5px;
              line-height: 22px;
              font-size: 12px; }
              .bannerbigbox .bannerbox .left_list .left_list_div .left_list_div_div div a i {
                font-family: "宋体";
                padding-left: 8px;
                font-size: 12px; }
        .bannerbigbox .bannerbox .left_list .left_list_div .centerContent ul {
          float: left;
          width: 979px;
          line-height: 30px; }
          .bannerbigbox .bannerbox .left_list .left_list_div .centerContent ul li {
            float: left;
            width: 979px; }
            .bannerbigbox .bannerbox .left_list .left_list_div .centerContent ul li h4 {
              float: left;
              color: #ff2832;
              font-weight: bold;
              font-size: 12px;
              line-height: 31px;
              padding-left: 10px;
              border-bottom: 1px solid #fff; }
            .bannerbigbox .bannerbox .left_list .left_list_div .centerContent ul li div {
              border-bottom: 1px dashed #eee;
              margin-left: 100px;
              padding-left: 10px; }
              .bannerbigbox .bannerbox .left_list .left_list_div .centerContent ul li div a {
                color: #323232;
                padding: 0 5px;
                font-size: 12px; }
              .bannerbigbox .bannerbox .left_list .left_list_div .centerContent ul li div a:hover {
                color: #ff2832; }
              .bannerbigbox .bannerbox .left_list .left_list_div .centerContent ul li div i {
                color: #eee; }
    .bannerbigbox .bannerbox .center {
      float: left;
      background: #000;
      position: relative;
      width: 796px;
      height: 487px;
      overflow: hidden; }
      .bannerbigbox .bannerbox .center .bannerimg {
        position: relative; }
        .bannerbigbox .bannerbox .center .bannerimg li {
          position: absolute; }
        .bannerbigbox .bannerbox .center .bannerimg li a:first-child {
          display: block;
          width: 796px; }
          .bannerbigbox .bannerbox .center .bannerimg li a:first-child img {
            width: 100%; }
        .bannerbigbox .bannerbox .center .bannerimg a:nth-child(2) img, .bannerbigbox .bannerbox .center .bannerimg a:nth-child(3) img, .bannerbigbox .bannerbox .center .bannerimg a:nth-child(4) img, .bannerbigbox .bannerbox .center .bannerimg a:nth-child(5) img, .bannerbigbox .bannerbox .center .bannerimg a:nth-child(6) img {
          float: left;
          opacity: 0.9;
          width: 199px;
          border: 1px solid #eee; }
        .bannerbigbox .bannerbox .center .bannerimg a:nth-child(2):hover img {
          opacity: 1; }
        .bannerbigbox .bannerbox .center .bannerimg a:nth-child(3):hover img, .bannerbigbox .bannerbox .center .bannerimg a:nth-child(4):hover img, .bannerbigbox .bannerbox .center .bannerimg a:nth-child(5):hover img {
          opacity: 1; }
      .bannerbigbox .bannerbox .center .onum {
        position: absolute;
        left: 280px;
        bottom: 200px;
        cursor: pointer; }
        .bannerbigbox .bannerbox .center .onum li {
          width: 20px;
          height: 20px;
          background: #666;
          text-align: center;
          line-height: 20px;
          border-radius: 50%;
          font-size: 12px;
          float: left;
          margin: 0 5px;
          color: #fff; }
        .bannerbigbox .bannerbox .center .onum li:hover, .bannerbigbox .bannerbox .center .onum li.hover {
          width: 20px;
          height: 20px;
          background: #ff2832;
          text-align: center;
          line-height: 20px;
          border-radius: 50%;
          font-size: 12px;
          float: left;
          margin: 0 5px;
          color: #fff; }
    .bannerbigbox .bannerbox .right {
      float: right; }
      .bannerbigbox .bannerbox .right img {
        border: 1px solid #f0f0f0;
        cursor: pointer; }
      .bannerbigbox .bannerbox .right nav a {
        line-height: 35px;
        display: block;
        float: left;
        padding: 0 22px;
        font-size: 14px;
        color: #323232;
        background: #f0f0f0;
        border: 1px solid #e6e6e6; }
      .bannerbigbox .bannerbox .right a:hover {
        background-color: #fff;
        text-decoration: none;
        border: 1px solid #fff; }
      .bannerbigbox .bannerbox .right ul {
        padding: 8px 5px 12px;
        border: 1px solid #eee; }
        .bannerbigbox .bannerbox .right ul li a {
          line-height: 22px;
          font-size: 12px;
          color: #323232; }
        .bannerbigbox .bannerbox .right ul a:hover {
          line-height: 22px;
          font-size: 12px;
          color: #ff2832; }
        .bannerbigbox .bannerbox .right ul .iconfont {
          line-height: 22px;
          font-size: 12px;
          color: #323232; }

/* seckill */
.sckillbigbox {
  width: 100%;
  background: #fff; }
  .sckillbigbox .sckillbox {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    background: #fff; }
    .sckillbigbox .sckillbox .left {
      float: left; }
      .sckillbigbox .sckillbox .left .timer {
        border-bottom: 2px solid #3c3c3c;
        width: 996px; }
        .sckillbigbox .sckillbox .left .timer a img {
          margin-right: 30px; }
        .sckillbigbox .sckillbox .left .timer img {
          float: left; }
        .sckillbigbox .sckillbox .left .timer aside {
          float: left;
          width: 130px;
          height: 39px;
          background: url(../images/home_miaosha.png) no-repeat; }
          .sckillbigbox .sckillbox .left .timer aside span:first-child {
            font-size: 20px;
            margin-left: 32px;
            display: inline-block;
            margin-top: 3px; }
          .sckillbigbox .sckillbox .left .timer aside span:nth-child(2) {
            font-size: 20px;
            margin-left: 11px;
            display: inline-block;
            margin-top: 3px; }
          .sckillbigbox .sckillbox .left .timer aside span:last-child {
            font-size: 20px;
            margin-left: 11px;
            display: inline-block;
            margin-top: 3px; }
        .sckillbigbox .sckillbox .left .timer ul {
          float: left; }
          .sckillbigbox .sckillbox .left .timer ul li {
            float: left; }
            .sckillbigbox .sckillbox .left .timer ul li a {
              font-size: 20px;
              color: #323232;
              margin-right: 30px;
              display: block;
              float: left;
              line-height: 40px; }
            .sckillbigbox .sckillbox .left .timer ul li a:hover {
              border-bottom: 3px solid #ff2832;
              text-decoration: none;
              display: block;
              margin-bottom: -3px; }
            .sckillbigbox .sckillbox .left .timer ul li a:first-child {
              margin-left: 40px; }
      .sckillbigbox .sckillbox .left .photo {
        width: 995px; }
        .sckillbigbox .sckillbox .left .photo dl {
          border: 1px solid #eee;
          width: 199px;
          text-align: center;
          float: left;
          padding-bottom: 10px; }
          .sckillbigbox .sckillbox .left .photo dl dt img {
            margin: 0 auto;
            padding: 10px;
            cursor: pointer; }
          .sckillbigbox .sckillbox .left .photo dl dd div {
            height: 8px;
            width: 130px;
            background: #ffb7b7;
            border-radius: 5px;
            position: relative;
            top: -30px;
            z-index: 10;
            margin: 0 auto; }
            .sckillbigbox .sckillbox .left .photo dl dd div span:first-child {
              background: #fc2c3a;
              height: 8px;
              width: 0%;
              display: block;
              border-radius: 5px;
              position: relative;
              z-index: 20; }
            .sckillbigbox .sckillbox .left .photo dl dd div span:nth-child(2) {
              background: #ffb7b7;
              height: 20px;
              width: 76px;
              display: block;
              border-radius: 10px;
              position: relative;
              left: 27px;
              top: -15px; }
            .sckillbigbox .sckillbox .left .photo dl dd div span:last-child {
              display: block;
              color: #fff;
              font-size: 12px;
              line-height: 20px;
              text-align: center;
              position: relative;
              left: 0;
              top: -35px;
              z-index: 30; }
          .sckillbigbox .sckillbox .left .photo dl dd a {
            line-height: 20px;
            font-size: 12px;
            color: #323232;
            display: block; }
          .sckillbigbox .sckillbox .left .photo dl dd a:hover {
            color: #ff2832; }
          .sckillbigbox .sckillbox .left .photo dl dd span {
            font-size: 14px;
            color: #ff2832; }
            .sckillbigbox .sckillbox .left .photo dl dd span b {
              font-size: 12px; }
          .sckillbigbox .sckillbox .left .photo dl dd i {
            font-size: 12px;
            color: #666;
            text-decoration: line-through;
            padding-left: 5px; }
    .sckillbigbox .sckillbox .right {
      float: right; }
      .sckillbigbox .sckillbox .right ul {
        border-bottom: 2px solid #ff2832;
        width: 204px; }
        .sckillbigbox .sckillbox .right ul li {
          float: left; }
          .sckillbigbox .sckillbox .right ul li a {
            font-size: 20px;
            color: #ff2832;
            margin-right: 30px;
            display: block;
            float: left;
            line-height: 40px;
            padding-left: 20px; }
      .sckillbigbox .sckillbox .right aside img {
        border: 1px solid #eee;
        border-left: none;
        width: 100%;
        cursor: pointer; }

/* 尾品汇 */
.weibigbox {
  width: 100%; }
  .weibigbox .weibox {
    width: 1200px;
    background: #fff;
    margin: 0 auto; }
    .weibigbox .weibox .top img {
      float: left;
      margin-top: 30px;
      cursor: pointer; }
    .weibigbox .weibox .top a {
      float: right;
      color: #ff2832;
      padding-top: 45px; }
    .weibigbox .weibox .bottom .left {
      float: left; }
      .weibigbox .weibox .bottom .left img {
        border: 1px solid #e6e6e6;
        cursor: pointer; }
      .weibigbox .weibox .bottom .left aside {
        border: 1px solid #e6e6e6;
        width: 200px; }
        .weibigbox .weibox .bottom .left aside ul li {
          float: left;
          background-color: #f9f9f9;
          width: 50%;
          text-align: center;
          height: 118px;
          position: relative;
          border: 1px solid #eee; }
          .weibigbox .weibox .bottom .left aside ul li img {
            position: absolute;
            border: 0;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            cursor: pointer; }
    .weibigbox .weibox .bottom .right {
      float: left;
      width: 1000px; }
      .weibigbox .weibox .bottom .right ul li {
        border: 1px solid #eee;
        width: 20%;
        float: left; }
        .weibigbox .weibox .bottom .right ul li a {
          border: 1px solid #fff;
          display: block; }
          .weibigbox .weibox .bottom .right ul li a img {
            width: 100%;
            cursor: pointer; }
      .weibigbox .weibox .bottom .right li:hover {
        border: 1px solid #ff5797; }
        .weibigbox .weibox .bottom .right li:hover a {
          border: 1px solid #ff5797; }

/* book */
.bookbigbox {
  width: 100%; }
  .bookbigbox .bookbox {
    margin: 0 auto;
    width: 1200px;
    margin-top: 30px; }
    .bookbigbox .bookbox .left {
      float: left; }
      .bookbigbox .bookbox .left .top {
        border-bottom: 2px solid #323232;
        width: 910px; }
        .bookbigbox .bookbox .left .top aside {
          float: left;
          margin-right: 82px; }
          .bookbigbox .bookbox .left .top aside a {
            color: #323232;
            font-size: 25px;
            text-decoration: none; }
          .bookbigbox .bookbox .left .top aside a:hover {
            color: #ff2832; }
          .bookbigbox .bookbox .left .top aside span {
            font-size: 30px;
            position: relative;
            top: -3px; }
        .bookbigbox .bookbox .left .top ul {
          float: left;
          width: 570px; }
          .bookbigbox .bookbox .left .top ul li {
            float: left; }
            .bookbigbox .bookbox .left .top ul li a {
              text-decoration: none;
              color: #323232;
              line-height: 42px;
              font-size: 14px;
              font-weight: bold;
              display: block;
              width: 114px;
              height: 42px;
              text-align: center;
              border-left: 1px solid #eee;
              border-top: 1px solid #eee; }
            .bookbigbox .bookbox .left .top ul li a:hover {
              border: 2px solid #323232;
              border-bottom: none;
              font-size: 16px;
              position: relative;
              z-index: 5;
              top: 2px;
              background: #fff; }
          .bookbigbox .bookbox .left .top ul li:last-child a {
            border-right: 1px solid #eee; }
          .bookbigbox .bookbox .left .top ul li:last-child a:hover {
            border-right: 2px solid #323232; }
      .bookbigbox .bookbox .left .bottom {
        width: 914px; }
        .bookbigbox .bookbox .left .bottom aside {
          float: left;
          position: relative; }
          .bookbigbox .bookbox .left .bottom aside .aside_img1 {
            float: left; }
          .bookbigbox .bookbox .left .bottom aside ul {
            width: 238px;
            position: absolute;
            top: 320px;
            left: 0;
            background: #fff;
            border: 1px solid #eee; }
            .bookbigbox .bookbox .left .bottom aside ul li {
              width: 77px;
              float: left;
              padding-left: 8px; }
              .bookbigbox .bookbox .left .bottom aside ul li a {
                color: #323232;
                line-height: 30px;
                font-size: 12px; }
          .bookbigbox .bookbox .left .bottom aside article {
            padding-top: 5px; }
            .bookbigbox .bookbox .left .bottom aside article .dl1 {
              float: left;
              padding: 0;
              cursor: pointer;
              border: 0; }
              .bookbigbox .bookbox .left .bottom aside article .dl1 dt {
                border: 1px solid #eee;
                border-bottom: 0;
                width: 337px; }
            .bookbigbox .bookbox .left .bottom aside article dl {
              padding: 0 9px;
              height: 220px;
              float: left;
              border-bottom: 1px solid #eee;
              border-right: 1px solid #eee;
              border-top: 1px solid #eee;
              cursor: pointer; }
              .bookbigbox .bookbox .left .bottom aside article dl dd a {
                color: #323232;
                overflow: hidden;
                display: block;
                width: 150px;
                height: 16px;
                font-size: 12px;
                padding-left: 8px;
                margin: 5px 0; }
              .bookbigbox .bookbox .left .bottom aside article dl dd p span {
                color: #ff2832;
                font-weight: 700;
                font-size: 14px; }
              .bookbigbox .bookbox .left .bottom aside article dl dd p i {
                color: #666;
                text-decoration: line-through;
                padding: 0 10px;
                font-size: 12px; }
              .bookbigbox .bookbox .left .bottom aside article dl dd a:hover {
                color: #ff2832; }
    .bookbigbox .bookbox .right {
      float: right; }
      .bookbigbox .bookbox .right nav p a {
        line-height: 49px;
        color: #464646;
        font-size: 16px;
        display: block;
        float: left;
        width: 136px;
        text-align: center;
        border: 1px solid #eee;
        background: #f5f5f5; }
      .bookbigbox .bookbox .right nav p a:hover {
        background: #fff;
        border-bottom: 0px; }
      .bookbigbox .bookbox .right nav ul {
        border: 1px solid #eee;
        border-top: 0;
        float: left;
        width: 272px;
        height: 438px; }
        .bookbigbox .bookbox .right nav ul li {
          color: #666;
          line-height: 30px; }
          .bookbigbox .bookbox .right nav ul li i {
            padding: 0 10px;
            float: left; }
          .bookbigbox .bookbox .right nav ul li:first-child i {
            color: #ff2832; }
          .bookbigbox .bookbox .right nav ul li:nth-child(2) i {
            color: #ff2832; }
          .bookbigbox .bookbox .right nav ul li:nth-child(3) i {
            color: #ff2832; }
          .bookbigbox .bookbox .right nav ul li a {
            color: #666;
            border-bottom: 1px solid #eee;
            display: block;
            float: left;
            width: 216px; }
          .bookbigbox .bookbox .right nav ul li:last-child a {
            border: 0; }
          .bookbigbox .bookbox .right nav ul li a:hover {
            color: #ff2832; }

/* 日用百货 */
/*当当优品*/
.bigcommoditybox {
  width: 100%; }
  .bigcommoditybox .commoditybox {
    width: 1200px;
    margin: 0 auto; }
    .bigcommoditybox .commoditybox .outertop {
      margin-bottom: 5px; }
      .bigcommoditybox .commoditybox .outertop ul {
        margin-top: 30px; }
        .bigcommoditybox .commoditybox .outertop ul li {
          float: left; }
          .bigcommoditybox .commoditybox .outertop ul li a {
            color: #323232;
            font-size: 16px;
            font-weight: 700;
            padding: 0 20px; }
            .bigcommoditybox .commoditybox .outertop ul li a i {
              font-size: 14px;
              padding: 0 10px 0 5px; }
          .bigcommoditybox .commoditybox .outertop ul li a:hover {
            color: #ff2832; }
          .bigcommoditybox .commoditybox .outertop ul li:first-child a {
            padding: 0; }
          .bigcommoditybox .commoditybox .outertop ul li:first-child b {
            font-weight: 900;
            padding-left: 10px; }
        .bigcommoditybox .commoditybox .outertop ul b {
          font-size: 16px;
          color: #999;
          font-family: "宋体"; }
    .bigcommoditybox .commoditybox .outercenter .left {
      float: left;
      width: 400px; }
      .bigcommoditybox .commoditybox .outercenter .left ul li {
        border: 1px solid #eee;
        float: left; }
      .bigcommoditybox .commoditybox .outercenter .left ul li:nth-child(2) {
        border-width: 1px 0 1px 0; }
      .bigcommoditybox .commoditybox .outercenter .left ul li:nth-child(3) {
        border-width: 0 1px 1px 1px; }
      .bigcommoditybox .commoditybox .outercenter .left ul li:nth-child(4) {
        border-width: 0 0 1px 0; }
    .bigcommoditybox .commoditybox .outercenter .center {
      float: left; }
      .bigcommoditybox .commoditybox .outercenter .center a {
        border: 1px solid #eee;
        display: block; }
    .bigcommoditybox .commoditybox .outercenter .right {
      float: right;
      width: 400px; }
      .bigcommoditybox .commoditybox .outercenter .right ul li {
        border: 1px solid #eee;
        float: left;
        border-left: 0; }
      .bigcommoditybox .commoditybox .outercenter .right ul li:nth-child(2) {
        border-width: 1px 1px 1px 0; }
      .bigcommoditybox .commoditybox .outercenter .right ul li:nth-child(3) {
        border-width: 0 1px 1px 0; }
      .bigcommoditybox .commoditybox .outercenter .right ul li:nth-child(4) {
        border-width: 0 1px 1px 0; }
    .bigcommoditybox .commoditybox .outerbottom {
      width: 1200px; }
      .bigcommoditybox .commoditybox .outerbottom ul {
        background: #f7f7f7;
        padding: 5px 0 0 5px; }
        .bigcommoditybox .commoditybox .outerbottom ul li {
          float: left;
          height: 44px;
          width: 118px; }

/* 创意玩具 */
.bigstationerybox {
  width: 100%; }
  .bigstationerybox .stationerybox {
    width: 1200px;
    margin: 0 auto; }
    .bigstationerybox .stationerybox h4 {
      font-weight: 700;
      padding: 20px 0 10px 0; }
    .bigstationerybox .stationerybox ul li {
      float: left;
      border: 1px solid #eee;
      margin-right: 10px; }
    .bigstationerybox .stationerybox .last_li {
      margin: 0; }

/* 为你推荐 */
.bigrecommendbox {
  width: 100%; }
  .bigrecommendbox .recommendbox {
    width: 1200px;
    margin: 0 auto; }
    .bigrecommendbox .recommendbox .top a {
      display: block;
      border-bottom: 2px solid #ff2832; }
      .bigrecommendbox .recommendbox .top a h4 {
        font-weight: 700;
        padding: 20px 0 10px 10px;
        color: #ff2832;
        font-size: 20px; }
    .bigrecommendbox .recommendbox .bottom {
      border: 1px solid #eee;
      margin-top: 10px; }
      .bigrecommendbox .recommendbox .bottom dl {
        float: left;
        width: 190px;
        height: 258px;
        padding: 4px 3px 7px;
        border: 1px solid #fff;
        text-align: center;
        margin: 0 4px;
        cursor: pointer; }
        .bigrecommendbox .recommendbox .bottom dl dt {
          width: 190px;
          height: 185px; }
          .bigrecommendbox .recommendbox .bottom dl dt img {
            margin: 0 auto;
            width: 150px; }
        .bigrecommendbox .recommendbox .bottom dl dd a {
          display: block;
          width: 190px;
          height: 32px;
          line-height: 16px;
          overflow: hidden;
          color: #323232;
          font-size: 12px;
          margin-bottom: 5px; }
        .bigrecommendbox .recommendbox .bottom dl dd a:hover {
          color: #ff2832; }
        .bigrecommendbox .recommendbox .bottom dl dd span {
          font-size: 18px;
          color: #ff2832;
          float: left; }
        .bigrecommendbox .recommendbox .bottom dl dd i {
          font-size: 12px;
          color: #999;
          float: right;
          padding-top: 5px; }
      .bigrecommendbox .recommendbox .bottom dl:hover {
        box-shadow: 0 0 4px #ddd;
        border: 1px solid #efefef; }

/* footer */
.bigfooterbox1 {
  width: 100%;
  background: #fafafa; }
  .bigfooterbox1 .footerbox1 {
    width: 1200px;
    margin: 0 auto; }
    .bigfooterbox1 .footerbox1 ul {
      padding: 10px 0; }
      .bigfooterbox1 .footerbox1 ul li {
        float: left;
        margin-left: 95px; }
      .bigfooterbox1 .footerbox1 ul li:first-child {
        width: 138px;
        height: 52px;
        background: url(../images/footer_bg.png) no-repeat;
        margin-left: 190px; }
      .bigfooterbox1 .footerbox1 ul li:nth-child(2) {
        width: 138px;
        height: 52px;
        background: url(../images/footer_bg.png) no-repeat; }
      .bigfooterbox1 .footerbox1 ul li:nth-child(3) {
        width: 138px;
        height: 52px;
        background: url(../images/footer_bg.png) no-repeat; }
      .bigfooterbox1 .footerbox1 ul li:nth-child(4) {
        width: 138px;
        height: 52px;
        background: url(../images/footer_bg.png) no-repeat; }

.bigfooterbox2 {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #999; }
  .bigfooterbox2 .footerbox2 {
    width: 1200px;
    margin: 0 auto;
    height: 140px;
    padding-top: 20px; }
    .bigfooterbox2 .footerbox2 ul {
      margin-left: 95px;
      float: left; }
      .bigfooterbox2 .footerbox2 ul li b {
        font-size: 14px;
        font-weight: 700; }
      .bigfooterbox2 .footerbox2 ul li a {
        color: #323232;
        font-size: 12px;
        line-height: 20px; }
      .bigfooterbox2 .footerbox2 ul li a:hover {
        color: #ff2832; }
    .bigfooterbox2 .footerbox2 ul:first-child {
      margin-left: 190px; }

.bigfooter3box {
  width: 100%; }
  .bigfooter3box .footer3box {
    width: 730px;
    margin: 0 auto; }
    .bigfooter3box .footer3box ul li {
      float: left; }
      .bigfooter3box .footer3box ul li a {
        color: #323232;
        padding: 0 20px;
        font-size: 12px;
        line-height: 36px; }
      .bigfooter3box .footer3box ul li a:hover {
        color: #ff2832; }

.bixfooterCopyightbox {
  width: 100px; }
  .bixfooterCopyightbox .footerCopyightbox {
    line-height: 20px;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0; }
    .bixfooterCopyightbox .footerCopyightbox span {
      display: inline-block;
      float: none;
      color: #8c8c8c;
      font-size: 12px; }

.bixfooter4box {
  width: 100%; }
  .bixfooter4box .footer4box {
    line-height: 20px;
    text-align: center;
    width: 1200px;
    margin: 0 auto; }
    .bixfooter4box .footer4box span {
      color: #8c8c8c;
      font-size: 12px; }
      .bixfooter4box .footer4box span a {
        padding: 0 4px;
        color: #8c8c8c;
        font-size: 12px;
        text-decoration: none; }
      .bixfooter4box .footer4box span a:hover {
        color: #ff2832; }

.bigfooter5box {
  width: 100%; }
  .bigfooter5box .footer5box {
    width: 1200px;
    margin: 0 auto;
    height: 100px; }
    .bigfooter5box .footer5box ul {
      margin: 30px 0; }
      .bigfooter5box .footer5box ul li {
        float: left;
        margin-left: 57px; }
      .bigfooter5box .footer5box ul li:first-child {
        margin-left: 148px; }

/* 侧边广告栏 */
.broadsidetop {
  position: fixed;
  top: 0;
  right: 0; }
  .broadsidetop nav {
    position: relative; }
    .broadsidetop nav .nav_a1 {
      display: block;
      width: 34px;
      height: 34px;
      background: url(../images/sidebar_icon_1x.png) no-repeat; }
    .broadsidetop nav .nav_span1 {
      display: block;
      width: 34px;
      height: 34px;
      background: url(../images/sidebar_icon_1x.png) no-repeat -40px 0;
      position: absolute;
      top: 0px;
      right: -115px; }
      .broadsidetop nav .nav_span1 i {
        position: absolute;
        top: 0px;
        right: 34px;
        color: #fff;
        background: #323232;
        display: block;
        height: 34px;
        width: 79px;
        text-align: center;
        line-height: 34px; }
      .broadsidetop nav .nav_span1 b {
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        text-align: center;
        line-height: 15px;
        border-radius: 5px;
        background: #ff2832;
        top: 4px;
        left: -96px;
        color: #fff; }
    .broadsidetop nav .nav_a2 {
      display: block;
      width: 34px;
      height: 34px;
      background: url(../images/sidebar_icon_1x.png) no-repeat 0 -38px; }
    .broadsidetop nav .nav_span2 {
      display: block;
      width: 34px;
      height: 34px;
      background: url(../images/sidebar_icon_1x.png) no-repeat -40px -35px;
      position: absolute;
      top: 35px;
      right: -115px; }
      .broadsidetop nav .nav_span2 i {
        position: absolute;
        top: 0px;
        right: 34px;
        color: #fff;
        background: #323232;
        display: block;
        height: 34px;
        width: 79px;
        text-align: center;
        line-height: 34px; }
    .broadsidetop nav .nav_a3 {
      display: block;
      width: 34px;
      height: 34px;
      background: url(../images/sidebar_icon_1x.png) no-repeat 0 -70px; }
    .broadsidetop nav .nav_span3 {
      display: block;
      width: 34px;
      height: 34px;
      background: url(../images/sidebar_icon_1x.png) no-repeat -40px -70px;
      position: absolute;
      top: 70px;
      right: -115px; }
      .broadsidetop nav .nav_span3 i {
        position: absolute;
        top: 0px;
        right: 34px;
        color: #fff;
        background: #323232;
        display: block;
        height: 34px;
        width: 79px;
        text-align: center;
        line-height: 34px; }
    .broadsidetop nav .nav_a4 {
      display: block;
      width: 34px;
      height: 34px;
      background: url(../images/sidebar_icon_1x.png) no-repeat 0 -102px; }
    .broadsidetop nav .nav_span4 {
      display: block;
      width: 34px;
      height: 34px;
      background: url(../images/sidebar_icon_1x.png) no-repeat -40px -105px;
      position: absolute;
      top: 105px;
      right: -115px; }
      .broadsidetop nav .nav_span4 i {
        position: absolute;
        top: 0px;
        right: 34px;
        color: #fff;
        background: #323232;
        display: block;
        height: 34px;
        width: 79px;
        text-align: center;
        line-height: 34px; }
    .broadsidetop nav .nav_a5 {
      display: block;
      width: 34px;
      height: 34px;
      background: url(../images/sidebar_icon_1x.png) no-repeat 0 -210px; }
    .broadsidetop nav .nav_span5 {
      display: block;
      width: 34px;
      height: 34px;
      background: url(../images/sidebar_icon_1x.png) no-repeat -40px -210px;
      position: absolute;
      top: 140px;
      right: -115px; }
      .broadsidetop nav .nav_span5 i {
        position: absolute;
        top: 0px;
        right: 34px;
        color: #fff;
        background: #323232;
        display: block;
        height: 34px;
        width: 79px;
        text-align: center;
        line-height: 34px; }

.broadsidebottom {
  position: fixed;
  bottom: 0;
  right: 0; }
  .broadsidebottom aside {
    position: relative; }
    .broadsidebottom aside .aside_a1 {
      display: block;
      width: 34px;
      height: 34px;
      background: url(../images/sidebar_icon_1x.png) no-repeat 0 -140px; }
    .broadsidebottom aside .aside_span1 {
      display: block;
      width: 350px;
      height: 129px;
      background: url(../images/code_three.jpg) no-repeat;
      position: absolute;
      top: -10px;
      right: -350px; }
    .broadsidebottom aside .aside_a2 {
      display: block;
      width: 34px;
      height: 34px;
      background: url(../images/sidebar_icon_1x.png) no-repeat 0 -175px; }
    .broadsidebottom aside .aside_span2 {
      display: block;
      width: 34px;
      height: 34px;
      background: url(../images/sidebar_icon_1x.png) no-repeat -40px -175px;
      position: absolute;
      top: 35px;
      right: -115px; }
      .broadsidebottom aside .aside_span2 i {
        position: absolute;
        top: 0px;
        right: 34px;
        color: #fff;
        background: #323232;
        display: block;
        height: 34px;
        width: 79px;
        text-align: center;
        line-height: 34px; }
    .broadsidebottom aside .aside_a3 {
      display: block;
      width: 34px;
      height: 34px;
      background: url(../images/sidebar_icon_1x.png) no-repeat 0 -245px; }
    .broadsidebottom aside .aside_span3 {
      display: block;
      width: 34px;
      height: 34px;
      background: url(../images/sidebar_icon_1x.png) no-repeat -40px -245px;
      position: absolute;
      top: 70px;
      right: -115px; }
      .broadsidebottom aside .aside_span3 i {
        position: absolute;
        top: 0px;
        right: 34px;
        color: #fff;
        background: #323232;
        display: block;
        height: 34px;
        width: 79px;
        text-align: center;
        line-height: 34px; }

/* top搜索框 */
.bigsearchbox {
  width: 100%;
  background: rgba(255, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none; }
  .bigsearchbox .searchbox {
    width: 1200px;
    margin: 0 auto;
    height: 52px;
    padding: 10px 0; }
    .bigsearchbox .searchbox a {
      float: left; }
    .bigsearchbox .searchbox nav {
      float: left;
      width: 738px;
      height: 40px;
      background: #fff;
      line-height: 33px;
      margin: 5px 0 10px 100px;
      padding-left: 10px;
      position: relative; }
      .bigsearchbox .searchbox nav input {
        border: 0;
        line-height: 40px;
        width: 700px;
        color: #666;
        height: 40px;
        font-size: 12px;
        outline: none; }
      .bigsearchbox .searchbox nav button {
        width: 50px;
        height: 40px;
        background: #d11e27 url(../images/home_sprite_1511.png) no-repeat 10px -245px;
        border: none;
        float: left;
        position: absolute;
        top: 0;
        right: 0;
        outline: none; }
